.qr
{
	font-size: 35px;
	font-family: "Algerian";
	font-weight: bold;
	font-style: italic;

	}



header{
	background-color: black;
	 display: flex;
    width:100%;
    z-index:999;
    justify-content: space-between;
    display:flex;
    align-items: center;
    color:white;
    	position: fixed;
    
	}
}

	nav{

		
	}
	.lec{
		font-size: 20px;
		font-family: 'Poppins', sans-serif; 
		color: red;
		padding-right: 100px
		border-style:none;
	}
	#entete{
		
		font-size: 22px;
		padding-right: 100px;
		padding-left: 20px;
	
	}
	.fa-user
	{

		font-size: 22px;
		padding-right: 40px;
		padding-left: 120px;
	}
	.fa-sign-in-alt
	{
		
		font-size: 22px;
		padding-right: 50px;

	
}
	#dev
	{
		
		font-size: 22px;
		padding-right: 100px;
	}

	body
	{
		background-color:#FFF;
	
	}


.button{
	background-color: black;
	color: white;
font-size: 17px;
font-weight: bold;
font-family: verdana;
border-style: inset;
text-transform: uppercase;

}
.titreqr
{
	font-weight: bold;
	font-size: 25px;
	font-family:cursive; ;


}
.text{ 

text-align: center;
width: 600px;
margin-left: 150px;

margin-top: 150px;
border-style: outset;
 box-shadow: 0 5px 25px rgba(1 1 1 / 15%);

 }
 .fond{
 	 box-shadow: 0 5px 25px rgba(1 1 1 / 15%);
 	 margin-top: 10px;
 }
 section { 
 display: flex;
  }

.code{

text-align: center;
width: 500px;
margin-left: 60px;

margin-top: 150px;
border-style: outset;
 box-shadow: 0 5px 25px rgba(1 1 1 / 15%);


}
.utilise{
	display: block;
	 box-shadow: 0 5px 25px rgba(1 1 1 / 15%);
	text-align: center;
	
}
.g1{
	display: inline-flex;

	
}
.g2{
padding-bottom: 100px;
padding-top: 100px;
}
.vet{
	 box-shadow: 0 5px 25px rgba(1 1 1 / 15%); 
	 margin-left: 10px;
	 margin-right: 10px;
	 border-radius: 15px;
}
.mag{
	 box-shadow: 0 5px 25px rgba(1 1 1 / 15%); 
	 margin-left: 10px;
	 margin-right: 10px;
	 border-radius: 15px;

}
.cafe{
	 box-shadow: 0 5px 25px rgba(1 1 1 / 15%); 
	 padding-left: 10px;
	 padding-right: 10px;
	 border-radius: 15px;
}
.public
{
	 box-shadow: 0 5px 25px rgba(1 1 1 / 15%); 
	 padding-left: 10px;
	 padding-right: 10px;
	 border-radius: 15px;
}
.image
{ box-shadow: 0 5px 25px rgba(1 1 1 / 15%); 
	 padding-left: 10px;
	 padding-right: 10px;
	 border-radius: 15px;
	 height: 300px;}
.menu{
 box-shadow: 0 5px 25px rgba(1 1 1 / 15%); 
	 padding-left: 10px;
	 padding-right: 10px;
	 border-radius: 10px;
}
.def{
	font-size: 18px;
	font-family: "sans-serif";
	color: grey;
	font-weight: bold;
	margin-left: 60px;
}
h2{

	font-size: 35px;
	font-family: "Algerian";
	font-weight: bold;
	font-style: italic;


}
h3{font-size: 35px;
	font-family: "Algerian";
	font-weight: bold;
	font-style: italic;
text-align: center;

}
footer
{
	background-color: black;
	color: white;
	width: 100%;
	height:350px;
	font-size: 45px;
	box-shadow: 0 5px 25px rgba(1 1 1 / 15%); 
	text-align: center;
	

}
.msg{
	text-align: right;
	padding-left: 60px;
	padding-right: 40px;
}
a:hover{
	color: blue;
	
}
a{
	color: white;

}
.ke{
font-size: 30px;
padding-left: 40px;
padding-bottom: 50px;
padding-right:50px; 
}
#qrfooter{
	padding-right: 1200px;
	padding-top: 80px;
	color: red;
	font-size: 80px; 
}
.fin {
	color: white;
	font-size: 12px;
	font-family: verdana;
	text-align: left;
}
